<!DOCTYPE html>
<html lang="en">
<head>
	{%- include head.html -%}
</head>
<body>
	<main class="container">
		<section class="about">
			<img src="{{ "/assets/portfolio.png" | relative_url }}" alt="{{ site.plainwhite.name }}">
			<h2>{{ site.plainwhite.name }}</h2>
			<p class="tagline">{{ site.plainwhite.tagline }}</p>
			<ul class="social">
				<a href="https://github.com/{{ site.plainwhite.social_links.github }}"><li><i class="icon-github-circled"></i></li></a>
			<!-- </ul>
			<p class="tagline">카테고리</p>

			<ul class="social" style="list-style-type: disc;">
			{% for category in site.categories %}
				<div style="text-align: right;">
					<a href="{{ root_url }}/{{ site.category_dir }}#{{ category | first }}">
						<li style="margin: 0px 10px 0px 0px;"> 
							{{ category | first }}
						</li>
						<span class="badge">{{ category | last | size }}</span>
					</a>
				</div>
				{% endfor %}
			</ul> -->

			<p>&copy; 2019</p>
		</section>
		<section class="content">
			{{ content }}
		</section>
	</main>
	{%- if site.plainwhite.analytics_id -%}
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.plainwhite.analytics_id }}"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', '{{ site.plainwhite.analytics_id }}');
	</script>
	{%- endif -%}
</body>
</html>
